<!DOCTYPE html>
<html lang="en">
<head>
	<title>London postal codes</title>
</head>
<body>
    <h1>Endpoints</h1>
    <ul>
        <li>/maps/getTags - no parameters</li>
        <li>/maps/addTag </li>
    </ul>
</body>
</html>