<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Test form</title>
    </head>
    <body>
        <form method="post" action="http://localhost:1000/map/addServiceBoundary">
            <input type="text" id="identityId" name="identityId" placeholder="identityId"/><br>
            <input type="text" id="userType" name="userType" placeholder="userType"/><br>
            <input type="text" id="serviceBoundary" name="serviceBoundary" placeholder="serviceBoundary"/><br>

            <input type="submit"/>
        </form>
    </body>
</html>