<html>
    <body>
        <form method="post" action="/oauth2/login">
            <input type="email" name="email"/><br>
            <input type="password" name="password"/><br>

            <input type="submit"/>

            <a href="/oauth2/signup">Signup</a>
        </form>
    </body>
</html>