<html>
    <body>
        <form method="post" action="/oauth2/signup" enctype="multipart/form-data" >
            <input type="email" name="email"/><br>
            <input type="password" name="password"/><br>

            <input type="submit"/>

            <a href="/oauth2/login">Login</a>
        </form>
    </body>
</html>