<html>

<body>
    <form method="post" action="/signup">
        First name<br>
        <input type="text" name="firstName" /><br><br>
        <br> Last name<br>
        <input type="text" name="lastName" /><br><br>
        <br> Email
        <br>
        <input type="email" name="email" /><br><br> Password
        <br>
        <input type="password" name="password" /><br><br>

        <input type="submit" value="SIGNUP" />
        <br><br>

        <a href="/login">Login</a>
    </form>
</body>

</html>