<html>

<body>
    <form method="post" action="/signup">
        Email<br>
        <input type="email" name="email" /><br><br> Password
        <br>
        <input type="password" name="password" /><br><br>

        <input type="submit" value="SIGNUP" />
        <br><br>

        <a href="/login">Login</a>
    </form>
</body>

</html>