<html>

<body>
    <form method="post" action="/signup">
        <input type="email" name="email" /><br>
        <input type="password" name="password" /><br>

        <input type="submit" />

        <a href="/login">Login</a>
    </form>
</body>

</html>